<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TASKIAPP"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TASKIAPP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="@string/app_name" />

        <!-- Registro Activity -->
        <activity
            android:name=".Registro"
            android:exported="true"
            android:label="@string/app_name" />

        <!-- Bienvenido Activity -->
        <activity
            android:name=".BienvenidoActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <!-- Nota Activity -->
        <activity
            android:name=".NotaActivity"
            android:exported="true"
            android:label="Agregar Nota" />

        <!-- Mis Notas Activity -->
        <activity
            android:name=".MisNotasActivity"
            android:exported="true"
            android:label="Mis Notas" />

        <!-- Agregar Categoría Activity -->
        <activity
            android:name=".AgregarCategoriaActivity"
            android:exported="true"
            android:label="Agregar Categoría" />

        <!-- Categorías Activity -->
        <activity
            android:name=".CategoriasActivity"
            android:exported="true"
            android:label="Categorías" />

        <!-- Nueva Notas por Categoria Activity -->
        <activity
            android:name=".NotasPorCategoriaActivity"
            android:exported="true"
            android:label="Notas por Categoría" />

        <activity
            android:name=".ConfiguracionActivity"
            android:exported="true"
            android:label="Configuracion" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
